<div class="login">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <!-- <%= render "devise/shared/error_messages", resource: resource %> -->
   <h1>Sign Up Form</h1>
    <div class="formcontainer">
      <hr/>
      <div class="container">
        <strong><%= f.label :Email %></strong>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Enter Email", class: "inputt", :required => true %>
        <strong><%= f.label :Password %></strong>
        <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
        <%=f.password_field :password, autocomplete: "new-password",placeholder: "Enter Password", class: "inputt", :required => true %>
        <strong><%= f.label :Password_Confirmation %></strong>
        <%=f.password_field :password_confirmation, autocomplete: "current-password",placeholder: "Enter Password", class: "inputt", :required => true %>
    </div>
   <!--<div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>-->

    <div >
      <%= f.submit "Sign up", class: "loginbutton" %>
<%= render "devise/shared/links" %>

    </div>
  <% end %>
</div>  



<style>
       .login {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      margin-top: 4rem;
      }
      form {
      border: 5px solid #f1f1f1;
      }
      /* input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      } */
      .inputt{
         width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .loginbutton {
      background-color: #8ebf42;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grabbing;
      width: 100%;
      }
      h1 {
      text-align:center;
      fone-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 10px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
    </style>