<nav class="navbar navbar-expand-lg  " style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to "Sequencers Membership", new_user_session_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "Hello Visitor", home_index_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Database Info", home_databaseInfo_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "MailList Info", home_index_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Sequencers", home_sequencer_path, class:"nav-link" %>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <%# <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> %>
        <% if current_user %>   
          <!--<%= current_user.email %>-->
          <%= button_to "log out", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "btn btn-success" %>
        <% else %>
          <%= link_to "login", new_user_session_path, class: "btn btn-outline-info"  %>
        <% end %> 
      </div>
     
    </div>
  </div>
</nav>