<!DOCTYPE html>
<html>
  <head>
    <title>Membership</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <!--<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if current_user %>   
        <%= current_user.email %>
        <%= button_to "log out", destroy_user_session_path, method: :delete, data: {turbo: false} %>
      <% end %>  --> 
      <%# nav bar %>
<%= render partial: 'shared/navBar' %>
      <%= yield %>
     <div class="footer pt-2">
  <p>Sequencers Services are provided by Good Works On Earth</br>
  a 501(c)3 charitable and educational non-profit organization</p>
</div>

  </body>

  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: white;
   text-align: center;
   margin-top: auto;
    font-size: 10px; 
}
body{
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}
</style>
</html>

